:root {
   --background-white: #ffffff;
   --color-primary: #f57b29;
   --color-secondary: #f56e0e;
   --color-alternative: #7d24ac;
   --color-white: #f4f4f4;
   --color-black: #000000;
   --color-green: #00c645;
   --color-gray: #6e6e6e;
}