.card-feature {
   border: 1px solid #6e6e6e30;
   /* border-left: 5px solid var(--bg-primary-600); */
}

.card-feature svg {
   transition: 0.5s all ease-in-out;
}

.border-to-hover {
   position: absolute;
   left: 0;
   width: 3px;
   height: 100%;
   background-color: var(--color-primary);
   z-index: 0;
   transition: 0.5s all ease-in-out;
}

.card-feature:hover svg {
   scale: 1.2;
   stroke-width: 2;
}

.card-feature:hover h3 {
   font-weight: bold;
}

.card-feature:hover > .border-to-hover {
   width: 100%;
}

.card-feature:hover > div > h3 {
   color: #ffffff;
}

.card-feature:hover > div > span > svg {
   color: #ffffff;
   stroke: #ffffff;
}
