.container-loading-page-full {
   background-image: url('/assets/images/art-loading-bg.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

@media (max-width: 600px) {
   .container-loading-page-full {
      background-image: url('/assets/images/art-loading-bg-mobile.png');
   }
}
