.section-subscription {
   /* background-image: url('/assets/bg-words-tm.png');
    background-repeat: no-repeat;
    background-size: cover; */
   background: var(--color-primary);
}

.bagde-price-color {
   position: absolute;
   top: 0;
   width: 120px;
   height: 45px;
   background-color: var(--bg-primary-600);
   transition: 0.2s all ease-in;
}

.card-plan {
   transition: 0.2s all ease-in-out !important;
   border-radius: 5px;
   /* border: 6px solid var(--color-primary); */
   /* border-top: 15px solid var(--bg-slate-700); */
}

.card-plan:hover {
   scale: 1.04;
}

.card-plan:hover > .bagde-price > .bagde-price-color {
   width: 120px !important;
}

.card-plan:hover > .bagde-price > .bagde-price-color > p {
   color: #ffffff !important;
}
