@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'root-variables.css';

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
   color: var(--color-black);
   background: var(--color-eqi-white);
}

.text-center-global {
   text-align: center !important;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-track {
   background: var(--color-white);
}

::-webkit-scrollbar-thumb {
   background: #6e6e6e;
   border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
   background: #929191;
}
